.aboutTitle {
    margin: 10px;
    padding: 5px;
    width: 100%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
    color: #222;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
  }